<a href="https://colab.research.google.com/github/Koar-create/Yang-Repository-CS/blob/main/pre-course/%5BEXERCISE%5D_Pandas_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **[EXERCISE] Pandas tasks.ipynb**

Author: Zhixian Yang

Email: yangzhx28@mail2.sysu.edu.cn

GitHub: https://github.com/koar-create

Date created: July 14th, 2023

Last modified: July 14th, 2023

<br><br>

---

<br><br>

## **Description**
This document is a Jupyter Notebook designed for an exercise derived from the "Computational Tools for Climate Science 2023" course offered by Climatematch Academy. The code presented here comprises a combination of materials provided in the course and code obtained from online sources.

In the attachment you could find a dataset that you need to use to answer these questions:

1. How many age categories are here?

2. How many rows with men from city category A? (this is not about the unique IDs of men, but about the number of lines)

3. How many women between 46 and 50 have spent (Purchase column) more than 20,000 (conventional units, in this case)? (I am not talking about unique IDs, but about the number of rows)

4. How many NaNs are in the Product_Category_3 column?

5. What proportion (real number from 0 to 1, rounded up to 4th decimal place) of all buyers are TOGETHER men 26 to 35 years old and women over 36 years old (that is, several age categories should be taken into account)? (I am not talking about unique IDs, but about the number of such lines)

---
# **<font color='F00000'>import dependencies and download data</font>**
---

In [1]:
import os, numpy as np, pandas as pd

In [2]:
if not os.path.exists('BlackFriday.csv'):
  !wget https://cdn.discordapp.com/attachments/1128940406873280522/1128940407464673351/BlackFriday.csv

In [3]:
df = pd.read_csv('BlackFriday.csv')
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

---
# **<font color='F00000'>Q1</font>**
---
* <font face='Arial' size=4>Used function/method: </font>
<font face='Monospace' color='Magenta'>nunique()</font>

 * <font face='Arial' size=3> Surely you can use </font>
<font face='Monospace' color='Magenta'>len(df.Age.unique())</font>
<font face='Arial' size=3> interchangably. </font>

In [4]:
print(df.Age.unique())

['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']

In [5]:
num_of_age_categories = df.Age.nunique()
print(f"Q1: There're {num_of_age_categories} age categories. ")

Q1: There're 7 age categories.

---
# **<font color='F00000'>Q2</font>**
---
* Used attribute: df.shape

In [6]:
num_of_men_living_in_A = df[(df.Gender=='M')&(df.City_Category=='A')].shape[0]
print(f"Q2: There're {num_of_men_living_in_A} men living in the city of A. ")

Q2: There're 109831 men living in the city of A.

---
# **<font color='F00000'>Q3</font>**
---

In [7]:
num_of_women_Q3 = df[(df.Gender=='F')&(df.Age=='46-50')&(df.Purchase>20000)].shape[0]
print(f"Q3: There're {num_of_women_Q3} women aged 46 to 50 spent more than 20,000. ")

Q3: There're 270 women aged 46 to 50 spent more than 20,000.

---
# **<font color='F00000'>Q4</font>**
---
* <font size=4>Used function/method: </font>
<font face='Monospace' size=4 color='Magenta'>isnull()</font>

In [8]:
num_of_missing_value_in_Product_Category_3 = df.Product_Category_3.isnull().sum()
print(f"Q4: There're {num_of_missing_value_in_Product_Category_3} missing values in Product_Category_3 column. ")

Q4: There're 373299 missing values in Product_Category_3 column.

---
# **<font color='F00000'>Q5</font>**
---

In [9]:
num = df[(df.Age=='26-35')&(df.Gender=='M')].shape[0] + df[(df.Gender=='F')&((df.Age=='36-45')|(df.Age=='46-50')|(df.Age=='51-55')|(df.Age=='55+'))].shape[0]
den = df.shape[0]
portion_Q5 = num / den
print(f"Q5: The required portion is {portion_Q5:.2f}. ")

Q5: The required portion is 0.41.

**_<center><font face="Times New Roman" size=7>--- end ---</font></center>_**